.SelectPlan {
    margin-top: 10px;
    font-family: 'Ubuntu-Regular';
    .SelectPlan-options {
        margin-top: 45px;
        margin-bottom: 35px;
        display: flex;
        justify-content: space-between;
        .SelectPlan-option {
            height: 230px;
            width: 30%;
            border-radius: 10px;
            border: 2px solid #D6D9E6;
            &.selectedPlan {
                border-color: #584c9c;
                background-color: #FAFBFF;
            }
            .SelectPlan-image {
                margin: 25px 20px;
                height: 85px;
                img {
                    width: 50px;
                }
            }
            .SelectPlan-planName {
                color: #02295A;
                font-size: 20px;
                font-family: 'Ubuntu-Medium';
                margin-left: 20px;
                margin-bottom: 5px;
            }
            .SelectPlan-pricingWrapper {
                margin-left: 20px;
                .SelectPlan-pricing {
                    color: #9699AB;
                    font-size: 18px;
                    font-family: 'Ubuntu-Medium';
                    margin-bottom: 5px;
                }
                .SelectPlan-freeText {
                    color: #02295A;
                    font-size: 16px;
                }
            }
            &:hover {
                cursor: pointer;
                border-color: #584c9c;
            }
        }
    }
    .SelectPlan-payScheduleOptions {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        background-color: #FAFBFF;
        border-radius: 7px;
        padding: 17px 0;
        .switch {
            margin: 0 30px;
        }
        .SelectPlan-scheduleOption {
            font-size: 18px;
            font-family: 'Ubuntu-Medium';
            color: #9699AB;
            &.selected {
                color: #02295A;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 1050px) {
    .SelectPlan {
        .SelectPlan-options {
            flex-direction: column;
            margin-bottom: 20px;
            .SelectPlan-option {
                width: calc(100% - 40px);
                height: 80px;
                padding: 5px 20px;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                .SelectPlan-image {
                    margin: 0;
                    height: 45px;
                    img {
                        width: 45px;
                    }
                }
                .SelectPlan-planName {
                    font-size: 19px;
                    margin-bottom: 4px;
                }
                .SelectPlan-pricingWrapper {
                    .SelectPlan-pricing {
                        font-size: 16px;
                        margin-bottom: 4px;
                    }
                    .SelectPlan-freeText {
                        font-size: 16px;
                    }
                }
            }
        }
        .SelectPlan-payScheduleOptions {
            margin-top: 0;
        }
    }
}







/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #02295A;
    -webkit-transition: .4s;
    transition: .4s;
    height: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 7px;
    bottom: 5px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #02295A;
}

input:focus + .slider {
    box-shadow: 0 0 1px #02295A;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}